@model SimpleASPLogin.Models.User

@{
    ViewData["Title"] = "Register Page";
}


@*<center>
        <div class="col-4" style="text-align:left">
            <h2>Register Hii</h2>

            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.ValidationSummary(true)

                <div>
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div>
                    @Html.LabelFor(model => model.Username)
                    @Html.TextBoxFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>

                <div>
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>


                <div>
                    @Html.LabelFor(model => model.Role)
                    @Html.DropDownListFor(model => model.Role, new SelectList(new[] {
                        new SelectListItem { Value = "Driver", Text = "Driver" },
                        new SelectListItem { Value = "User", Text = "User" }
                    }, "Value", "Text"))
                    @Html.ValidationMessageFor(model => model.Role)
                </div>

                <input type="submit" value="Register" />
            }
        </div>
    </center>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container col-md-6 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <h3 class="text-center" style="color: blueviolet;">Sign Up hello</h3>
                <br>
                <form asp-controller="User" asp-action="Register" method="post">
                    <div class="form-grup">
                        <label for="Username" style="color: blueviolet;">Username</label>
                        <input asp-for="Username" class="form-control" id="Username" required>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email" style="color: blueviolet;">Email</label>
                        <input asp-for="Email" type="email" Required class="form-control" id="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password" style="color: blueviolet;">Password</label>
                        <input asp-for="Password" type="password" Required class="form-control" id="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Role" style="color: blueviolet;">Role</label>
                        <label for="Role" style="color: blueviolet;">Role</label>
                        <select class="form-select" asp-for="Role" id="Role">
                            <option value="User">User</option>
                            <option value="Driver" selected>Driver</option>
                        </select>

                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    @*<div id="driverFields" style="display: none;">
                        <div class="form-group">
                            <label for="D_Name" style="color: blueviolet;">Driver Name</label>
                            <input asp-for="D_Name" class="form-control" id="D_Name">
                            <span asp-validation-for="D_Name" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label for="DAddress" style="color: blueviolet;">Driver Address</label>
                            <input asp-for="DAddress" class="form-control" id="DAddress">
                            <span asp-validation-for="DAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="D_Pno" style="color: blueviolet;">Driver Phone Number</label>
                            <input asp-for="D_Pno" class="form-control" id="D_Pno">
                            <span asp-validation-for="D_Pno" class="text-danger"></span>
                        </div>
                    </div>*@
                    <button type="submit" class="btn" style="background-color: blueviolet;">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    @*@section Scripts {
        <script>document.getElementById('Role').addEventListener('change', function () {
                var driverFields = document.getElementById('driverFields');
                if (this.value === 'Driver') {
                    driverFields.style.display = 'block';
                } else {
                    driverFields.style.display = 'none';
                }
            });</script>*@
    }

</body>
</html>





